:root {
 --addressbar-height: 50px;
 --addressbar-label-width: 90px;
 --commandbar-height: 50px;
 --commandbar-label-width: 120px;
 --send-button-width: 100px;
 --bars-color: #202020;
}

body {
 font-family: Verdana, Tahoma, Helvetica, Arial;
 color: #FFFFFF;
 background-color: #000000;
 margin: 0px;
}

input {
 padding: 10px;
 border-width: 0px;
 border-radius: 10px;
}

a {
 white-space: nowrap;
 padding: 10px;
 border-radius: 10px;
 font-weight: bold;
 cursor: pointer;
 color: #000000;
 background-color: #D0D0D0;
}

#output {
 position: absolute;
 top: calc(var(--addressbar-height) + 20px);
 overflow: auto;
 width: calc(100% - 20px);
 padding: 10px;
 height: calc(100% - var(--addressbar-height) - var(--commandbar-height) - 60px);
}

#addressbar {
 position: absolute;
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px;
 width: calc(100% - 20px);
 height: var(--addressbar-height);
 background-color: var(--bars-color);
}

#addressbar #addressbox {
 width: 100%;
}

#addressbar #addressbox #address {
 width: calc(100% - 20px);
}


#addressbar #buttons {
 display: flex;
 justify-content: right;
 gap: 10px;
}

#commandbar {
 position: absolute;
 display: flex;
 align-items: center;
 gap: 10px;
 bottom: 0;
 width: calc(100% - 20px);
 padding: 10px;
 height: var(--commandbar-height);
 background-color: var(--bars-color);
}


#commandbar #textbox {
 width: 100%;
}

#commandbar #textbox #text {
 width: calc(100% - 20px);
}

.bold {
 font-weight: bold;
}

.text-red {
 color: #FF0000;
}

.text-green {
 color: #00FF00;
}

.text-blue {
 color: #6060FF;
}

.text-yellow {
 color: #FFFF00;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; font-family: inherit; font-size: 1rem; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }